TRAEFIK_IMAGE=traefik:v3.6@sha256:e9ad2ada010742d2f91586a56f9ebb8355a2ceae7fb2973ef1c1877c7890e176
TRAEFIK_NETWORK=rescue_proxy
TRAEFIK_HTTP_BIND_ADDRESS=0.0.0.0
TRAEFIK_HTTPS_BIND_ADDRESS=0.0.0.0
ACME_EMAIL=admin@example.org
ACME_CA_SERVER=https://acme-staging-v02.api.letsencrypt.org/directory
TRAEFIK_LOG_LEVEL=INFO
